

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThinkSmarter | Home </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/home-jquery.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="bg-dark">



<div class="container-fluid">

    <div class="container-fluid" >
        <div class="container me-auto text-center p-4">






        </div>


        <br/>
        <div class="container">
            <section class="h-100 gradient-form bg-transparent">
                <div class="container  h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-xl-10">
                            <div class="card rounded-3 text-white" style="border: none;">
                                <div class="bg-dark text-center">
                                    <h3 class="text-center">Game over</h3>
                                    <div class="container text-center">

                                        <script>
                                            $(document).ready(function() {

                                                $("li").click(function (){

                                                    for(let x=0; x<5;x++){
                                                        $("li").eq(x.toString()).html("&#10032;");
                                                    }

                                                    let index = $(this).index()
                                                    for(let x=index; x>=0;x--){
                                                        $("li").eq(x.toString()).html("&#9733;");
                                                    }
                                                });




                                            });
                                        </script>
                                        <p>Enter your rating (1-5 stars)</p>
                                        <ul class="list-inline list-unstyled" style="font-size: 50px;">

                                            <li class="list-inline-item">&#10032;</li>
                                            <li class="list-inline-item">&#10032;</li>
                                            <li class="list-inline-item">&#10032;</li>
                                            <li class="list-inline-item">&#10032;</li>
                                            <li class="list-inline-item">&#10032;</li>

                                        </ul>

                                        <textarea placeholder="Enter your review here" style="width:100%; height: 200px;"></textarea>

                                    </div>

                                    <div class="container-fluid">

                                        <br/>
                                        <br/>
                                        <hr/>
                                        <br/>

                                        <p>The purpose of this research is to create CPU chess opponents
                                            using the TensorFlow JS machine learning library to determine which machine learning
                                            model is most effective for creating opponents in the game of chess and, to
                                            determine whether there is a relationship between games and cognitive output.</p>
                                        <p>Take the survey to help contribute to the research</p>
                                        <br/>
                                        <br/>
                                        <button type="submit" class="btn btn-outline-danger" style="width: 250px;">Survey</button>
                                        <br/>
                                        <br/>
                                    </div>

                                    <div>
                                            <pre>
                                               <%=data %>
                                            </pre>

                                        <div class="container me-auto text-center p-4">
                                            <h6 class="text-white"><%=JSON.parse(data)["message"]%></h6>
                                            <br/>
                                            <br/>
                                            <a href="/home" class="btn btn-outline-danger" style="width: 250px;">Return </a>
                                        </div>
                                        <br/>

                                        <div class="container text-center">

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
</body>
</html>